.global-header {
    background-color: darkcyan;
    color: white;
}

.global-header > .initial-display {
    display: flex;
    justify-content: space-between;
}

.global-header > .initial-display > .logo-area {
    font-size: 30px;
    font-family: Times, serif;
    padding: 6px 12px;
}

.global-header > .initial-display > .logo-area > .logo-link,
.global-header > .initial-display > .logo-area > .logo-link:visited {
    text-decoration: none;
    color: white;
}

.global-header > .initial-display > .menu-area > .menu-trigger,
.global-header > .initial-display > .menu-area > .menu-trigger > span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

.global-header > .initial-display > .menu-area {
    padding: 12px;
    height: 32px;
}

.global-header > .initial-display > .menu-area > .menu-trigger {
    position: relative;
    width: 32px;
    height: 32px;
}

.global-header > .initial-display > .menu-area > .menu-trigger span {
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: white;
}

.global-header > .initial-display > .menu-area > .menu-trigger span:nth-of-type(1) {
    top: 0;
}

.global-header > .initial-display > .menu-area > .menu-trigger span:nth-of-type(2) {
    top: 14px;
}

.global-header > .initial-display > .menu-area > .menu-trigger span:nth-of-type(3) {
    top: 28px;
}

.global-header > .initial-display > .menu-area > .menu-trigger.active span:nth-of-type(1) {
    -webkit-transform: translateY(14px) rotate(-45deg);
    transform: translateY(14px) rotate(-45deg);
}

.global-header > .initial-display > .menu-area > .menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
}

.global-header > .initial-display > .menu-area > .menu-trigger.active span:nth-of-type(3) {
    -webkit-transform: translateY(-14px) rotate(45deg);
    transform: translateY(-14px) rotate(45deg);
}

.global-header > .menu-detail {
    display: none;
}

.global-header > .menu-detail > .global-header-links {
    margin: 0;
    list-style: none;
    padding: 12px;
}

.global-header > .menu-detail > .global-header-links > .link-item > .menu-link {
    color: white;
    text-decoration: none;
}

.global-header > .menu-detail > .global-header-links > .link-item > .menu-link:visited {
    color: white;
}
